html,
body {
  padding: 0;
  margin: 0;
  background-image: url("../public/background.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.list {
  height: calc(100vh - 230px);
  min-width: calc(100vw - 70rem);
}
