.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: rgb(246, 246, 246);
  font-family: sans-serif;
}

.main {
  width: 70rem;
}
